BikeDekho/BikeDekho_Client/BikeDekho_Client/Connected Services/BikeDekhoService/BikeDekho_CRUD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BikeDekho_CRUD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BikeDekho_CRUD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBikeClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BikeClass" nillable="true" type="tns:BikeClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBikeClass" nillable="true" type="tns:ArrayOfBikeClass" />
  <xs:complexType name="BikeClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BikeClass" nillable="true" type="tns:BikeClass" />
  <xs:complexType name="UserClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserClass" nillable="true" type="tns:UserClass" />
</xs:schema>