BikeDekho/BikeDekho_Client/BikeDekho_Client/Connected Services/BikeDekhoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BikeDekho_CRUD" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddPost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPost" />
  </wsdl:message>
  <wsdl:message name="IService_AddPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPostResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemovePost_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePost" />
  </wsdl:message>
  <wsdl:message name="IService_RemovePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePostResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditPost_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPost" />
  </wsdl:message>
  <wsdl:message name="IService_EditPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPostResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FetchAllBikes_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllBikes" />
  </wsdl:message>
  <wsdl:message name="IService_FetchAllBikes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllBikesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FetchAllUserBikes_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllUserBikes" />
  </wsdl:message>
  <wsdl:message name="IService_FetchAllUserBikes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllUserBikesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IService_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Register" message="tns:IService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterResponse" message="tns:IService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddPost" message="tns:IService_AddPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddPostResponse" message="tns:IService_AddPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemovePost" message="tns:IService_RemovePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemovePostResponse" message="tns:IService_RemovePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditPost" message="tns:IService_EditPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditPostResponse" message="tns:IService_EditPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllBikes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FetchAllBikes" message="tns:IService_FetchAllBikes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FetchAllBikesResponse" message="tns:IService_FetchAllBikes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllUserBikes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FetchAllUserBikes" message="tns:IService_FetchAllUserBikes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FetchAllUserBikesResponse" message="tns:IService_FetchAllUserBikes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUser" message="tns:IService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserResponse" message="tns:IService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetImage" message="tns:IService_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetImageResponse" message="tns:IService_GetImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPost">
      <soap:operation soapAction="http://tempuri.org/IService/AddPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePost">
      <soap:operation soapAction="http://tempuri.org/IService/RemovePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPost">
      <soap:operation soapAction="http://tempuri.org/IService/EditPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllBikes">
      <soap:operation soapAction="http://tempuri.org/IService/FetchAllBikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllUserBikes">
      <soap:operation soapAction="http://tempuri.org/IService/FetchAllUserBikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IService/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BikeDekho_CRUD/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>